.ProjectImg {
    display: flex;
    height: 500px;
    width: auto;
    justify-items: center;
    margin: auto;
}

.FreelanceLink {
    display: inline-block;
    text-align: center;
    padding: 15px;
}

.ProjectDescription {
    display: flex;
    text-align: center;
    overflow: hidden;
}

.Built {
    display: flex;
    justify-content: center;
    text-decoration: underline;
}

.ProjectTech {
    display: flex;
    justify-content: center;
}

.ProjectLinkCont {
    display: flex;
    overflow: hidden;
    justify-content: center;
}
