.homeContainer {
    height: auto;
    max-width: 100%;
    /* margin: auto; */
}

.imgContainer {
    display: flex;
    width: 100%;
    justify-content: center;
}

.imgContainer img {
    border-radius: 50%;
    max-width: 100%;
    height: 400px;
    margin: auto;
    display: flex;

    position: relative;
}

.homeContainer h1 {
    text-align: center;
    font-size: xx-large;
    text-shadow: 1px 1px black;
}

p {
    text-align: center;
}

.writeups {
    display: flex;
    gap: 5rem;
    padding: 2em;
}

.writeups .blurbs {
    display: flex;
    flex-direction: column;
    border: 1px black solid;
    border-radius: 15px;
    text-align: justify;
    padding: 5px;
    transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.blurbs:hover {
    box-shadow: inset 600px 300px 6px 0px var(--primary-accent);
    color: white;
}

.blurbs p:hover {
    color: white;
}
span {
    text-align: center;
    font-size: 20px;
}

.oneLiner {
    /* overflow: hidden;
    width: 80%;
    border-right: 0.15em solid var(--primary-accent);
    white-space: nowrap; */
    display: flex;
    align-items: center;
    gap: 2px;
    margin: 3em auto;
    font-size: 25px;
    letter-spacing: 0.15em;
    /* animation: typing 4.5s steps(50), blink-caret 0.5s step-end infinite; */
}

.oneLiner::after {
    content: '';
    width: 2px;
    height: 30px;
    background-color: var(--primary-accent);
    display: inline-block;
    animation: cursor 1.5s steps(2) infinte;
}
@keyframes cursor {
    0% {
        opacity: 0;
    }
}

/* @keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 80%;
    }
}
@keyframes blink-caret {
    from,
    to {
        border-color: transparent;
    }
    45% {
        border-color: slategray;
    }
} */
