.nav {
    background-color: #065252;
    padding: 10px 15px;
    text-transform: uppercase;
    text-align: center;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
}

.nav a {
    color: white;
    text-decoration: none;
    display: block;
    margin-top: 25px;
}
.nav a:hover {
    transform: scale(1.5);
}
