.nav {
    background-color: #065252;
    text-transform: uppercase;
    text-align: center;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
    height: 6%;
    align-items: center;
    padding: 5px;
}

.nav a {
    color: white;
    text-decoration: none;
}

.nav :global(.active) {
    border: 0.5px solid white;
    border-radius: 15%;
    transform: scale(1.5);
}
.nav a:hover {
    transform: scale(1.5);
    transition-delay: 0.15s;
}
