* {
    box-sizing: border-box;
}

.nav {
    background-color: rgb(6, 82, 6);
    padding: 10px 15px;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

.nav a {
    color: white;
    text-decoration: none;
}
