.footer {
    background-color: steelblue;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
}

.footerLinks {
    display: flex;
    justify-content: center;
    gap: 7rem;
}

.Copyright {
    color: white;
    margin: auto;
    padding: 2px;
}

.footerLinks a svg:hover {
    /* filter: invert(0.5) sepia(3) hue-rotate(200deg) saturate(5) brightness(1); */
    filter: invert(1);
}
